.page {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $color-main;
  margin: 0;
  background: linear-gradient(0deg, rgba(7,1,10,1) 0%, rgba(9,25,40,1) 100%);
}