.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 90px 0;
  text-align: center;
  overflow: hidden;

  &__img {
    margin: 30px 0;
    width: 600px;
    height: 330px;

    @media (max-width: $screen-m) {
      width: 100%;
      height: auto;
    }
  }

  &__button {
    width: 260px;
    height: 55px;
    font-size: 16px;

    @media (max-width: $screen-s) {
      font-size: 14px;
      width: 200px;
      height: 45px;
    }

    &:hover{
      background: $button-gradient-hover;
      transform: scale3d(1.03, 1.03, 1);
    }

    &:active{
      background: $button-gradient;
      transform: scale3d(0.95, 0.95, 1);
    }
  }

  &__text{
    margin-top: 10px;
  }

  &__bg {
    position: absolute;
    opacity: 0.7;
    font-weight: 400;
    font-size: 350px;
    line-height: 400px;
    background: $text-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
    animation: line-text 6s linear 1s infinite;
  }
}

@keyframes line-text {
  from {
    transform: translateX(110%);
    transform-origin: left center;
  }
  to {
    transform: translateX(-110%);
    transform-origin: right center;
  }
}