$color-main:                  #5c5c5e;
$border-color:                #cacad6;
$header-bg-color:             #f6f4f5;
$button-text-color:           #f6f4f5;
$button-black-text-color:     #5c5c5e;
$button-bg-color:             #cacad6;
$button-active-color:         #070707;
$white-text-color:            #f6f4f5;
$black-text-color:            #070707;
$grey-text-color:             #cacad6;

$hamburger-bg-color:          #070707;
$hamburger-text-color:        #f6f4f5;

$screen-s:                 480px;
$screen-m:                 652px;
$screen-l:                 992px;
$screen-xl:                1220px;