.buy {
  position: relative;
  margin-bottom: 110px;
  text-align: center;
  overflow: hidden;

  &__img {
    margin-bottom: 30px;
  }

  &__purchase {
    margin: 0 auto;
  }

  &__bg {
    position: absolute;
    opacity: 0.1;
    font-weight: 400;
    font-size: 400px;
    line-height: 400px;
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
    animation: line-text 6s linear 1s infinite;
  }
}

@keyframes line-text {
  from {
    transform: translateX(110%);
    transform-origin: left center;
  }
  to {
    transform: translateX(-110%);
    transform-origin: right center;
  }
}