.subscribe {
  padding-top: 70px;
  margin-bottom: 20px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-right: 1px solid $border-color;

    @media (max-width: $screen-xl) {
      border: none;
    }

    @media (max-width: $screen-l) {
      display: flex;
      flex-direction: column;
    }

    @media (max-width: $screen-m) {
      gap: 10px;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: $color-main;

    @media (max-width: $screen-l) {
      text-align: center;
    }
  }

  &__form {
    max-width: 600px;
    position: relative;

  }

  &__text {
    font-size: 13px;
    margin-bottom: 10px;
    color: $white-text-color;
  }

  &__email {
    @media (min-width: $screen-xl ){
      padding-right: 10px;
    }

  }
}

