.gradient-title {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 41px;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(204,255,255,1) 83%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: $screen-m) {
    font-size: 32px;
  }
}