.gradient-title {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 41px;
  background: $text-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: $screen-m) {
    font-size: 32px;
  }
}