.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid transparent;
  border-image: $border-gradient 1;

  &__image {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: $text-gradient;

    &_accessories {
      min-height: 55px;
    }
  }

  &__text {
    margin-bottom: 30px;
  }

  &__button {
    margin-top: auto;
    background: $button-gradient;
    height: 30px;
    width: 200px;

    &:hover{
      background: $button-gradient-hover;
      transform: scale3d(1.02, 1.02, 1);
    }

    &:active{
      background: $button-gradient;
      transform: scale3d(0.95, 0.95, 1);
    }

    &_accessories {
      padding: 5px;
      border: 1px solid transparent;
      border-image: linear-gradient(to bottom right, #BC10D8, rgba(80, 0, 250, 0.93)) 1;
      font-weight: 700;
      line-height: 18px;
      text-align: center;
    }
  }


}