.cart {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;

  @media (max-width: $screen-m) {
    font-size: 14px;
  }

  @media (max-width: $screen-ss) {
    font-size: 12px;
  }

  &_visible {
    display: block;
  }

  &__title {
    margin: 0;
    font-weight: 400;

    @media (max-width: $screen-m) {
      margin: 10px;
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 640px;
    border-radius: 20px;
    padding: 30px;
    background: $main-gradient;
    border: 2px solid $color-main;

    @media (max-width: $screen-m) {
      width: 90%;
      padding: 10px;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    overflow: auto;
    max-height: 600px;

    @media (max-width: $screen-l) {
      max-height: 550px;
    }

    @media (max-width: $screen-m) {
      max-height: 460px;
    }

    @media (max-width: $screen-s) {
      max-height: 460px;
    }

    @media (max-width: $screen-ss) {
      max-height: 300px;
    }
  }

  &__item {
    display: grid;
    grid-template-areas: "img name quantity price";
    grid-template-columns: 1fr 2fr 1fr 1fr;
    align-items: center;
    justify-items: start;
    padding: 20px;
    grid-gap: 10px;

    @media (max-width: $screen-m) {
      grid-gap: 8px;
      padding: 15px;
    }

    @media (max-width: $screen-s) {
      grid-gap: 5px;
      padding: 8px;
    }

    @media (max-width: $screen-ss) {
      padding: 8px;
    }
  }

  &__item-img {
    grid-area: img;
    width: 80px;
    height: 60px;
    object-fit: cover;

    @media (max-width: $screen-m) {
      width: 60px;
      height: 40px;
    }

    @media (max-width: $screen-s) {
      width: 55px;
      height: 45px;
    }
  }

  &__item-name {
    grid-area: name;
  }

  &__item-quantity {
    grid-area: quantity;
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 10px;

    @media (max-width: $screen-m) {
      gap: 8px;
    }

    @media (max-width: $screen-s) {
      gap: 6px;
    }

    @media (max-width: $screen-ss) {
      gap: 4px;
    }
  }

  &__quantity-num {
    width: 10px;
    text-align: center;
  }

  &__quantity-button {
    width: 30px;
    height: 30px;
    border: 2px solid $cart-button-color;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    background-color: transparent;
    color: $cart-button-color;
    cursor: pointer;

    @media (max-width: $screen-m) {
      width: 24px;
      height: 24px;
      font-size: 16px;
    }

    @media (max-width: $screen-s) {
      width: 22px;
      height: 22px;
      font-size: 12px;
    }

    &:hover {
      background-color: $color-main;
      color: $black-text-color;
    }
  }

  &__close-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    background: $black-text-color;
    border-radius: 50%;
    border: 2px solid $color-main;
    font-size: 20px;
    color: $color-main;
    cursor: pointer;

    &:hover {
      background-color: $color-main;
      color: $black-text-color;
    }

    @media (max-width: $screen-m) {
      top: -10px;
      right: -10px;
      font-size: 18px;
    }
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &_hidden {
      display: none;
    }
  }

  &__empty-text {
    margin-top: 20px;
    font-size: 18px;

    @media (max-width: $screen-m) {
      font-size: 16px;
    }
  }

  &__empty-btn {
    border-radius: 20px;
    position: relative;
    top: 0;
    right: 0;
    padding: 10px 15px;
    max-width: 200px;
    border: 2px solid $color-main;
    font-weight: 700;
    background: transparent;
    color: $color-main;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.5s ease;

    @media (max-width: $screen-m) {
      padding: 8px 13px;
      max-width: 200px;
    }

    &:active {
      transform: scale3d(0.95, 0.95, 1);
    }
  }

  &__sum {
    padding-bottom: 10px;
    padding-right: 20px;
    border-bottom: 1px solid $color-main;
    text-align: end;
    font-weight: 700;

    @media (max-width: $screen-m) {
      padding-right: 10px;
    }
  }

  &__item-price {
    grid-area: price;
    justify-self: end;
  }

  &__purchase {
    align-self: flex-end;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid $cart-button-color;
    color: $cart-button-color;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;

    @media (max-width: $screen-m) {
      margin-top: 10px;
      padding: 5px 10px;
      font-size: 14px;
    }

    @media (max-width: $screen-s) {
      margin-top: 10px;
      padding: 4px 8px;
    }

    @media (max-width: $screen-ss) {
      font-size: 12px;
    }

    &:hover {
      background-color: $color-main;
      color: $black-text-color;
    }
  }
}
