.cart {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;


  &_visible{
    display: block;
  }

  &__title{
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color;
    font-weight: 400;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 640px;
    border-radius: 20px;
    padding: 20px;
    background: #fff;
  }

  &__list{
    padding: 0;
  }

  &__item {
    display: grid;
    grid-template-areas:
      "img name quantity price";
    grid-template-columns: 1fr 2fr 1fr 1fr;
    align-items: center;
    justify-items: start;
    padding: 20px;
    grid-gap: 10px;
  }

  &__item-img {
    grid-area: img;
    width: 80px;
    height: 60px;
    object-fit: cover;
  }

  &__item-name {
    grid-area: name;
    font-size: 16px;
  }

  &__item-quantity {
    grid-area: quantity;
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__quantity-button{
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: $color-main;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
  }

  &__close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border-radius: 50%;
    border: 2px solid $color-main;
    font-size: 20px;
    color: $color-main;
    cursor: pointer;
  }

  &__empty-btn {
    border-radius: 20px;
    position: relative;
    top: 0;
    right: 0;
    font-size: 16px;
    padding: 8px;
    border-width: 0;
    max-width: 200px;
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    border-color: transparent;
    color: #fff;
    text-transform: uppercase;
  }

  &__sum{
    align-self: flex-end;
  }

  &__item-price {
    grid-area: price;
    justify-self: end;
  }

  &__empty{
    display: flex;
    flex-direction: column;
    gap: 20px;

    &_hidden{
      display: none;
    }
  }

  &__contact{
    display: none;
  }
}