.video {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  grid-column: 2/3;

  @media (max-width: $screen-m) {
    width: auto;
    height: 250px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }

  &__preview {
    padding: 0 10px;
    position: absolute;
    width: 280px;
    height: 150px;
    object-fit: cover;
    z-index: -1;

    @media (max-width: $screen-m) {
      width: 100%;
      height: 250px;
    }
  }

  &__button {
    background-color: transparent;
    border: none;
  }

  &__play {
    margin-left: 30px;
  }

  &__text {
    margin-left: 12px;
    font-size: 13px;
    color: $white-text-color;

    &_black {
      color: $black-text-color;
    }
  }

}