.email-form {
  margin-bottom: 10px;
  position: relative;

  &__input {
    width: 70%;
    border: none;
    border-bottom: 1px solid $border-color;
    padding: 22px;
    font-size: 18px;

    @media (max-width: $screen-m) {
      padding: 16px;
      font-size: 16px;
    }

    @media (max-width: $screen-s) {
      padding: 12px;
      font-size: 12px;
    }

    &::placeholder {
      margin: 0;
      font-size: 18px;
      color: $grey-text-color;

      @media (max-width: $screen-m) {
        font-size: 16px;
      }
    }

    &:focus-visible {
      outline: none;
    }
  }

  &__button {
    position: absolute;
    width: 30%;
    height: 100%;
    right: 0;
    bottom: 0;
    border: 1px solid $color-main;
    background-color: $header-bg-color;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: $color-main;
    cursor: pointer;
    transition: all 0.4s ease;

    @media (max-width: $screen-m) {
      font-size: 12px;
    }

    @media (max-width: $screen-s) {
      width: 40%;
      font-size: 10px;
    }

    &:hover {
      background-color: $color-main;
      color: $black-text-color;
    }

    &:active {
      transform: scale3d(0.95, 0.95, 0.95);
    }
  }
}
