.email-form {
  margin-bottom: 10px;
  position: relative;

  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $border-color;
    padding: 22px 70px 22px 0;
  
    &::placeholder {
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      color: $grey-text-color;
      margin: 0;
    }
  }

  &__button {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    bottom: 5px;
    border: none;
    
    border-radius: 50%;
    background-color: $button-bg-color;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: $button-black-text-color;
    cursor: pointer;
  }
}
