.features {
  padding: 100px 0;
  border-top: 1px solid $color-main;
  background: linear-gradient(220deg, rgba(7,1,10,1) 0%, rgba(15,52,65,1) 100%);

  @media (max-width: $screen-m) {
    padding: 50px 0;
  }

  &__titles {
    display: flex;

    @media (max-width: $screen-m) {
      display: block;
    }
  }

  &__title{
    max-width: 330px;
    margin: 0 0 2px 0;
    font-weight: 400;

    @media (max-width: $screen-m) {
      margin: 20px 0 0 2px ;
    }
  }
}